.grid-container{
display: grid;
grid-template-columns: repeat(6, 1fr);
}


.ytIcon{
  width: 10%;
  position: relative;
  display: grid;
}

.twitchLogo{
  position: relative;
  width: 70%;
  left: 50px;
}


.youtubeLogo{
  position: relative;
  width: 45%;
  left: 85px;
}

.playerMatch::-webkit-scrollbar{
  display: none;
}

.playerMatchContainer{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column: span 6;
  word-break: break-all;
  border-style: solid;
  height: 60px;
  font-size: 12px;
  font-weight: 1000;
  

}

.playerMatch:hover{
background-color: lightslategray;
cursor: pointer;
}


.playerMatch{

   grid-column: span 6;
   text-align: center;
   overflow-y: scroll;
}


  

    