.mainFooter{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.column1{
    display: grid;
    grid-column: 1/2;
}

.column2{
    display: grid;
    grid-column: 2/3;
    text-align: center;
}

.column3{
    display: grid;
    grid-column: 3/4;
    text-align: left    ;
}

.legacyLogoFooter{
    width: 50px;
    height: 50px;
    position: relative;
}

.textH3{
    display: grid;
    grid-template-rows: repeat(20,1fr);
    grid-template-columns: repeat(20,1fr);
    height: 70px;
}

.legacyWords{
    display: grid;
    grid-row: 1/2;
    grid-column: 2/11;
    text-align:left;
    padding-top: 10px;
}

.paragraph1{
    text-align: left;
    padding-left: 20px;
    
}